* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tahoma', sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


/* header */

header {
    min-height: 60px;
}

.header-wrap {
    display: flex;
    min-height: 60px;
    align-items: center;
}

.logo {
    width: 25%;
}

.logo a {
    text-transform: uppercase;
    color: #3bb877;
    font-weight: 550;
    font-size: 1.4rem;
}


/* nav */

nav {
    width: 60%;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    padding: 0 20px;
    color: #565c65;
    font-weight: 550;
    transition: .5s;
}

nav ul li a.active,
nav ul li a:hover {
    color: #3bb877;
}

.toolbar {
    width: 15%;
    text-align: right;
}

.toolbar a {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    width: 30px;
    height: 25px;
}

.toolbar a .cart-total-product {
    position: absolute;
    top: -15px;
    right: -17px;
    display: block;
    width: 22px;
    height: 22px;
    background-color: #3bb877;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    border-radius: 50%;
}


/* banner */

banner {
    width: 100%;
    height: auto;
    display: block;
}

.slider-item {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

.slider-item img {
    max-width: 100%;
}

.slider-item h3 {
    color: #333;
    text-transform: uppercase;
    position: absolute;
    font-size: 2.5rem;
    letter-spacing: 15px;
    left: 15%;
    top: 40%;
}

.slider-item h3 p {
    color: #3bb877;
    margin-top: 10px;
}


/* product-list */

product-list {
    width: 100%;
    display: block;
    margin: 60px 0;
}

product-list ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

product-list h3 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

product-list small {
    text-align: center;
    display: block;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 30px;
    color: #3bb877;
}

product-list ul li {
    width: 19%;
    position: relative;
    margin-bottom: 50px;
}

product-list ul li:hover .user-action {
    display: block;
}

product-list ul li img {
    width: 100%;
    margin-bottom: 20px;
}

product-list ul li h2 {
    font-size: 1.3rem;
    font-weight: 550;
    color: #333;
    margin-bottom: 10px;
}

product-list ul li p {
    color: #3bb877;
    font-weight: normal;
    font-size: 1.2rem;
}

product-list ul li.li-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

product-list ul li.li-one h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: left;
}

product-list ul li.li-one small {
    color: #3bb877;
    font-size: 1rem;
    margin: 0px;
    display: block;
    text-align: left;
}

product-list ul li.li-one p {
    color: #333;
    margin-top: 10px;
}

product-list .user-action {
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
}

product-list .user-action a {
    background: url("../img/buy.png") no-repeat;
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    display: block;
    background-color: #3bb877;
}

product-list .user-action a:nth-of-type(1) {
    background-position: 2px 6px;
}

product-list .user-action a:nth-of-type(2) {
    background-position: 2px -45px;
}

product-list .user-action a:nth-of-type(3) {
    background-position: 2px -96px;
}


/* shipping */

shipping {
    background-color: #f5f6f9;
    display: block;
    width: 100%;
    padding: 60px 0;
}

shipping ul {
    display: flex;
    flex-wrap: wrap;
}

shipping ul li {
    width: 25%;
    text-align: center;
}

shipping ul li:not(:nth-of-type(4)) .shipping-content {
    margin-top: 18px;
}

shipping ul li:nth-of-type(3) .shipping-content {
    margin-top: 24px;
}

shipping ul li h4 {
    font-size: 1.5rem;
    margin: 10px 0 5px 0;
}


/* promotion */

promotion {
    width: 100%;
    display: block;
}

promotion ul {
    display: flex;
    flex-wrap: wrap;
}

promotion ul li {
    background-color: #2e3347;
    width: calc(100% / 3);
    text-align: center;
    padding: 30px 0;
}

promotion ul li:nth-of-type(2) {
    background-color: #33384e;
}

promotion ul li img {
    width: 50%;
    max-width: 100%;
}


/*contact */

contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contact-item {
    width: 50%;
    padding: 60px 0;
}

.contact-item.left {
    background: url("../img/bgform.jpg");
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left h2 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #fff;
}

.left p {
    width: 60%;
    word-wrap: break-word;
    text-align: center;
    color: #ccc;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.left form {
    width: 80%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.left form input {
    height: 100%;
    text-indent: 10px;
    width: 70%;
    border: none;
    margin-right: 10px;
}

.left form button {
    background-color: #3bb877;
    height: 100%;
    border: none;
    width: 30%;
    text-transform: uppercase;
    color: #fff;
}

.contact-item.right {
    background-color: #f1f2f3;
}

.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right a {
    display: block;
    width: calc(25% - 100px);
    margin: 0 50px;
    height: 137px;
    background: url("../img/brand.png") no-repeat;
}

.right a:nth-of-type(1) {
    background-position: 2px 3px;
}

.right a:nth-of-type(2) {
    background-position: -229px 3px;
}

.right a:nth-of-type(3) {
    background-position: -463px 3px;
}

.right a:nth-of-type(4) {
    background-position: -695px 3px;
}


/* footer */

footer {
    width: 100%;
    display: flex;
    padding: 10px 0;
    flex-wrap: wrap;
    background-color: #232425;
}

.footer-left {
    font-size: 1rem;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 50%;
    color: #ccc;
}

.footer-right {
    width: 50%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-right a {
    display: block;
    height: 30px;
    width: 50px;
    margin: 0 10px;
    background: url(../img/payment.png) no-repeat;
}

.footer-right a:nth-of-type(1) {
    background-position: 3px 2px;
}

.footer-right a:nth-of-type(2) {
    background-position: -57px 2px;
}

.footer-right a:nth-of-type(3) {
    background-position: -116px 0px;
}

.footer-right a:nth-of-type(4) {
    background-position: -176px 0px;
}

.footer-right a:nth-of-type(5) {
    background-position: -234px 0px;
}


/* responsive */

@media only screen and (max-width:1399.97px) {
    /* header */
    .logo {
        text-align: center;
    }
    .toolbar {
        padding-right: 10px;
    }
    /* promotion */
    promotion ul li img {
        width: 70%;
    }
    /* contact */
    .contact-item {
        padding: 40px 0;
    }
    .left p,
    .left form {
        width: 80%;
    }
    .left form input {
        width: 70%;
    }
    .right a {
        width: 25%;
        margin: 0;
    }
    .right a:nth-of-type(1) {
        background-position: 10px 3px;
    }
    .right a:nth-of-type(2) {
        background-position: -220px 3px;
    }
    .right a:nth-of-type(3) {
        background-position: -454px 3px;
    }
    .right a:nth-of-type(4) {
        background-position: -685px 3px;
    }
}

@media only screen and (max-width:1199.97px) {
    /* header */
    nav ul {
        display: flex;
        justify-content: space-between;
    }
    nav ul li a {
        padding: 0 10px;
    }
    /* slider */
    .slider-item h3 {
        font-size: 1.7rem;
    }
    /* product-list */
    product-list ul {
        justify-content: unset;
    }
    product-list ul li.li-one {
        padding: 5px;
    }
    product-list ul li {
        width: calc(33% - 20px);
        margin: 0 10px 50px 10px;
    }
    /* contact */
    .contact-item {
        width: 100%;
        padding: 30px 50px;
    }
    .right a {
        width: calc(25% - 60px);
        margin: 0 30px;
    }
    .right a:nth-of-type(1) {
        background-position: 15px 3px;
    }
    .right a:nth-of-type(2) {
        background-position: -220px 3px;
    }
    .right a:nth-of-type(3) {
        background-position: -454px 3px;
    }
    .right a:nth-of-type(4) {
        background-position: -685px 3px;
    }
}

@media only screen and (max-width:991.97px) {
    /* header */
    .header-wrap {
        justify-content: space-between;
    }
    .logo {
        padding-left: 20px;
    }
    nav {
        display: none;
    }
    .toolbar {
        width: 16%;
        display: flex;
    }
    /* slider */
    .slider-item h3 {
        left: 10%;
        font-size: 2rem;
        letter-spacing: 5px;
    }
    /* product-list */
    product-list {
        margin: 30px 0;
    }
    product-list ul {
        justify-content: unset;
    }
    product-list ul li {
        width: calc(50% - 20px);
        margin: 0 10px 50px 10px;
        text-align: center;
    }
    product-list ul li.li-one {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        display: block;
    }
    product-list ul li.li-one h3 {
        text-align: center;
        font-size: 2rem;
    }
    product-list ul li.li-one small {
        text-align: center;
        font-size: 1.2rem;
    }
    /* shipping */
    shipping {
        padding: 30px 0;
    }
    /* promotion ul li img */
    promotion ul li img {
        width: 70%;
    }
    /* contact */
    .contact-item {
        width: 100%;
        padding: 30px 50px;
    }
    .left h2 {
        margin-bottom: 10px;
    }
    .left p {
        width: 80%;
    }
    .left form {
        width: 80%;
    }
    .left form input {
        margin-right: 0;
        margin-right: 10px;
    }
    .left form button {
        width: 40%;
    }
    .right a {
        width: 25%;
        margin: 0;
    }
}

@media only screen and (max-width:767.97px) {
    /* header */
    .logo {
        width: 35%;
    }
    .toolbar {
        width: 20%;
    }
    /* slider */
    .slider-item h3 {
        font-size: 1.5rem;
    }
    /* shipping */
    shipping {
        padding: 0 0 30px;
    }
    shipping ul li {
        width: 50%;
        margin-top: 30px;
    }
    /* promotion */
    promotion ul li img {
        width: 90%;
    }
    promotion ul li {
        padding: 10px 0;
    }
    /* contact */
    .left p {
        width: 100%;
    }
    .left form {
        width: 100%;
    }
    .right {
        padding: 30px 0;
    }
    .right a:nth-of-type(1) {
        background-position: 5px 3px;
    }
    .right a:nth-of-type(2) {
        background-position: -235px 3px;
    }
    .right a:nth-of-type(3) {
        background-position: -460px 3px;
    }
    .right a:nth-of-type(4) {
        background-position: -685px 3px;
    }
    /* footer */
    .footer-left {
        width: 100%;
        order: 1;
    }
    .footer-right {
        width: 100%;
        order: 0;
    }
}

@media only screen and (max-width:567.97px) {
    /* header */
    .logo {
        width: 60%;
    }
    .logo a {
        font-size: 1.2rem;
    }
    .toolbar {
        width: 35%;
    }
    /* slider */
    .slider-item h3 {
        font-size: 1.2rem;
        letter-spacing: unset;
    }
    .slider-item h3 p {
        margin-top: 5px;
    }
    /* product-list */
    product-list ul li.li-one h3 {
        font-size: 1.5rem;
    }
    product-list ul li.li-one p {
        font-size: 1rem;
        margin-top: 5px;
    }
    /* promotion */
    promotion ul li {
        width: 100%;
    }
    promotion ul li img {
        max-width: 200px;
        max-height: 200px;
    }
    /* contact */
    .contact-item {
        padding: 20px;
    }
    .left h2 {
        font-size: 1.6rem;
    }
    .right a {
        min-width: 140px;
    }
    .right a:nth-of-type(1) {
        background-position: 5px 3px;
    }
    .right a:nth-of-type(2) {
        background-position: -225px 3px;
    }
    .right a:nth-of-type(3) {
        background-position: -460px 3px;
    }
    .right a:nth-of-type(4) {
        background-position: -690px 3px;
    }
    /* footer */
    .footer-right {
        justify-content: space-between;
    }
    .footer-right a {
        margin: 0;
    }
}